* {
    margin : 0;
    padding : 0;

}

body {
    margin: 50px;
    text-align: center;
    background-color: yellowgreen;
}

img {
    display: block;
    width: 100%;
    margin: auto;
}

.gallery {
    background-color: orange;
    list-style-type: none;
    width: 60%;
    margin: 50px auto;
    border: 10px solid orange;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 10px;

}

