/* font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

/* asset var */
:root {
    --color1: #ffffff;
    --color2: #0d5bcf;
    --color3: #6495ed;
    --color4: #696969;
    --color5: #010101;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: --var(--color1);
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

nav {
    display: flex;
    padding: 15px;
    width: auto;
    justify-content: space-between;
    background-color: var(--color2);
}

.logo {
    color: var(--color1);
    margin: auto;
}

nav ul {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: auto;
    /* border: 3px solid orange; */
}

nav ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    /* border: 1px solid greenyellow; */
    
}

nav ul li a{
    color: var(--color1);
    text-decoration: none;
    transition: all 0.30s;
}

nav ul li a:hover {
    transform: scale(1px);
    background-color: var(--color3);
    border-radius: 20px;
    padding: 5px;
}

.menu-toggle {
    display: none;
    justify-content: space-between;
    flex-direction: column;
    height: 24px;
    margin-top: 5px;
    /* border: 1px solid yellow; */
    position: relative;
}

.menu-toggle span {
    display: block;
    width: 30px;
    height: 4px;
    margin: center;
    background-color: var(--color1);
    z-index: 2;
    border-radius: 5px;
    transition: all 0.30s;
}

.menu-toggle input {
    position: absolute;
    width: 70px;
    height: 75px;
    top: -25px;
    left: -10px;
    opacity: 0;
    cursor: pointer;
}

.menu-toggle span:nth-child(2){
    transform-origin: 0 100%;
    /* background-color: var(--color4); */
}

.menu-toggle span:nth-child(4){
    transform-origin: 0 0;
    /* background-color: var(--color4); */
}

.menu-toggle input:checked ~ span:nth-child(2){
    transform: rotate(45deg) translate(-1px, -1px);
    background-color: var(--color1);
}

.menu-toggle input:checked ~ span:nth-child(3){
    transform: scale(0);
    opacity: 0;
}

.menu-toggle input:checked ~ span:nth-child(4){
    transform: rotate(-45deg) translate(-1px, 0);
    background-color: var(--color1);
}

/* Breakpoint Responsive */
/* Tablet */
@media screen and (max-width: 756px) {
    
    nav ul {
        width: 60%;
    }
}

/* Mobile */
@media screen and (max-width: 576px){

    .menu-toggle {
        display: flex;
    }

    nav ul {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        background-color: var(--color3);
        right: 0;
        top: 0;
        height: 100%;
        margin: auto;
        margin-top: 35px;
        z-index: -1;
        transform: translateX(100%);
        transition: all 1s;
        opacity: 0;
    }

    nav ul li a{
        color: var(--color1);
        text-decoration: none;
        transition: all 0.50s;
    }
    
    nav ul li a:hover {
        transform: scale(1px);
        background-color: var(--color2);
        width: 100%;
        height: auto;
        padding: 10px;
        text-align: center;
        border-radius: 0px;
    }

    nav ul.slide {
        transform: translateX(0%);
        opacity: 1;
    }

}






